In [ ]:
import sqlalchemy
import requests as rq
import pandas as pd
import re

In [ ]:
engine = sqlalchemy.create_engine('postgresql://postgres:Vishny160608@localhost:5432/d_b_riva_4')
connection = engine.connect()

In [ ]:
executors = ['Billie Eilish', 'The Kooks', 'Nothing but thieves', 'ДЕТИ RAVE', 'Nizkiz', 'Мукка', 'Doja Cat', 'Televisor']
for exe in executors:
    connection.execute(f"""INSERT INTO executor(nickname)
           VALUES('{exe}');
    """)

In [ ]:
genres = ['Pop', 'Rock', 'Kantri', 'jazz', 'hip hop']
for gen in genres:
    connection.execute(f"""INSERT INTO genre(genre_name)
           VALUES('{gen}');
    """)

In [ ]:
connection.execute("""INSERT INTO album(album_name, year_launch)
    VALUES('WHEN WE ALL FALL ASLEEP, WHERE DO WE GO?', 2019);
    """)

connection.execute("""INSERT INTO album(album_name, year_launch)
    VALUES('The best of ... so far', 2017);
    """)

connection.execute("""INSERT INTO album(album_name, year_launch)
    VALUES('Broken machine', 2017);
    """)

connection.execute("""INSERT INTO album(album_name, year_launch)
    VALUES('Фая', 2019);
    """)

connection.execute("""INSERT INTO album(album_name, year_launch)
    VALUES('Синоптик', 2017);
    """)

connection.execute("""INSERT INTO album(album_name, year_launch)
    VALUES('Девочка с каре', 2019);
    """)

connection.execute("""INSERT INTO album(album_name, year_launch)
    VALUES('Purrr!', 2014);
    """)

connection.execute("""INSERT INTO album(album_name, year_launch)
    VALUES('Venture - EP', 2015);
    """)

In [ ]:
connection.execute("""INSERT INTO track(track_name, track_length, album_id)
    VALUES('ilomilo', 156, 1);
    """)

connection.execute("""INSERT INTO track(track_name, track_length, album_id)
    VALUES('you should see me in a crown', 181, 1);
    """)

connection.execute("""INSERT INTO track(track_name, track_length, album_id)
    VALUES('Ooh la', 209, 2);
    """)

connection.execute("""INSERT INTO track(track_name, track_length, album_id)
    VALUES('Sway', 216, 2);
    """)

connection.execute("""INSERT INTO track(track_name, track_length, album_id)
    VALUES('Broken machine', 234, 3);
    """)

connection.execute("""INSERT INTO track(track_name, track_length, album_id)
    VALUES('Amsterdam', 272, 3);
    """)

connection.execute("""INSERT INTO track(track_name, track_length, album_id)
    VALUES('Дворовые рейвы', 231, 4);
    """)

connection.execute("""INSERT INTO track(track_name, track_length, album_id)
    VALUES('Хороводы в аду', 149, 4);
    """)

connection.execute("""INSERT INTO track(track_name, track_length, album_id)
    VALUES('Никому', 182, 5);
    """)

connection.execute("""INSERT INTO track(track_name, track_length, album_id)
    VALUES('Абсолют', 204, 5);
    """)

connection.execute("""INSERT INTO track(track_name, track_length, album_id)
    VALUES('ДЕВОЧКА С КАРЕ', 159, 6);
    """)

connection.execute("""INSERT INTO track(track_name, track_length, album_id)
    VALUES('ОТ ЛУНЫ И ДО НЕБА', 128, 6);
    """)

connection.execute("""INSERT INTO track(track_name, track_length, album_id)
    VALUES('So high', 199, 7);
    """)

connection.execute("""INSERT INTO track(track_name, track_length, album_id)
    VALUES('Beautiful', 226, 7);
    """)

connection.execute("""INSERT INTO track(track_name, track_length, album_id)
    VALUES('Deluxe', 276, 8);
    """)

In [ ]:
connection.execute("""INSERT INTO collection(coll_name, coll_year_launch)
    VALUES('first', 2011);
    """)

connection.execute("""INSERT INTO collection(coll_name, coll_year_launch)
    VALUES('second', 2012);
    """)

connection.execute("""INSERT INTO collection(coll_name, coll_year_launch)
    VALUES('third', 2013);
    """)

connection.execute("""INSERT INTO collection(coll_name, coll_year_launch)
    VALUES('fourth', 2014);
    """)

connection.execute("""INSERT INTO collection(coll_name, coll_year_launch)
    VALUES('fifth', 2015);
    """)

connection.execute("""INSERT INTO collection(coll_name, coll_year_launch)
    VALUES('sixth', 2016);
    """)

connection.execute("""INSERT INTO collection(coll_name, coll_year_launch)
    VALUES('seventh', 2017);
    """)

connection.execute("""INSERT INTO collection(coll_name, coll_year_launch)
    VALUES('eighth', 2018);
    """)

In [ ]:
connection.execute("""INSERT INTO singeralbum
    VALUES(1, 1)
    """)

connection.execute("""INSERT INTO singeralbum
    VALUES(2, 2)
    """)

connection.execute("""INSERT INTO singeralbum
    VALUES(3, 3)
    """)

connection.execute("""INSERT INTO singeralbum
    VALUES(4, 4)
    """)

connection.execute("""INSERT INTO singeralbum
    VALUES(5, 5)
    """)

connection.execute("""INSERT INTO singeralbum
    VALUES(6, 6)
    """)

connection.execute("""INSERT INTO singeralbum
    VALUES(7, 7)
    """)

connection.execute("""INSERT INTO singeralbum
    VALUES(8, 8)
    """)

In [ ]:
connection.execute("""INSERT INTO singergenre
    VALUES(1, 1)
    """)

connection.execute("""INSERT INTO singergenre
    VALUES(2, 2)
    """)

connection.execute("""INSERT INTO singergenre
    VALUES(3, 3)
    """)

connection.execute("""INSERT INTO singergenre
    VALUES(4, 4)
    """)

connection.execute("""INSERT INTO singergenre
    VALUES(5, 5)
    """)

In [ ]:
connection.execute("""INSERT INTO trackcoll
    VALUES(1, 1)
    """)

connection.execute("""INSERT INTO trackcoll
    VALUES(2, 2)
    """)

connection.execute("""INSERT INTO trackcoll
    VALUES(3, 3)
    """)

connection.execute("""INSERT INTO trackcoll
    VALUES(4, 4)
    """)

connection.execute("""INSERT INTO trackcoll
    VALUES(5, 5)
    """)

connection.execute("""INSERT INTO trackcoll
    VALUES(6, 6)
    """)

connection.execute("""INSERT INTO trackcoll
    VALUES(7, 7)
    """)

connection.execute("""INSERT INTO trackcoll
    VALUES(8, 8)
    """)